body {
    font-family: monospace;
    font-size: 14pt;
    color: #ebdbb2;
    background-color: #1d2021;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#title {
    margin-top: 50px;
    color: #fb4934;
    font-size: 36pt;
    font-weight: bold;
}

#date {
    margin-top: 10px;
    font-size: 18pt;
    font-weight: bold;
    color: #fabd2f;
}

#time {
    margin-top: 10px;
    font-size: 18pt;
    font-weight: bold;
    color: #b8bb26;
}

.search-bar {
    font-size: 12pt;
    margin-top: 15px;
}

.search-bar input {
    text-align: center;
    margin-left: 10px;
    font-size: 12pt;
    /* font-weight: bold; */
    border: none;
    color: #ebdbb2;
    background-color: #1d2021;
    width: 100%;
} :focus {
    outline: none;
}

input[type="search"]::-webkit-search-cancel-button {
    opacity: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.bookmark-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 50%;
    margin: 0 auto;
}

.bookmark-set {
    border: 1px solid #83a598;
    flex: 1 0 100px;
    margin-right: 20px;
    margin-top: 30px;
    padding-bottom: 10px;
}

.bookmark-title {
    font-size: 18pt;
    font-weight: bold;
    color: #1d2021;
    background-color: #83a598;
}

.bookmark {
    margin-top: 5px;
    font-size: 14pt;
    color: #83a598;
}

.quote {
    margin-top: 50px;
    width: 100%;
    color: #d3869b;
}

.name {
    margin-top: 5px;
    color: #8ec07c;
    font-weight: bold;
}
